.DS_Store
_**/.DS_Store
__MACOSX__/
.vscode
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
models/hydrology/results
models/transport/results
models/reactive/results
03_transport/results