.DS_Store
__MACOSX__/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
models/.vscode
models/.DS_Store
models/hydrology/results
models/transport/results
models/reactive/results
models/notebooks/.vscode/